.logo{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    padding-left: 92px;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-right: 72px;
}